:root {
  /* Brand */
  --primary-500: #1b63d3;
  --accent-500: #ffb700;

  /* neutrals */
  --white: #ffffff;
  --muted-white: #eff3f7;

  --black: #161616;
  --black-rgb: 22, 22, 22;
  --black-600: rgba(var(--black-rgb), 0.58);
  --black-400: rgba(var(--black-rgb), 0.45);

  /* Backgrounds */
  --background-1: #f4f8fe; /* very light blue bg */

  /* Interaction States */
  --primary-hover: #024dc2;
  --primary-pressed: #0140a1;

  /* radius */
  --radius-500: 1.8rem;
  --radius-400: 0.8rem;

  --contaniner-width: min(76.5rem, 90%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  margin-bottom: 1rem;
  letter-spacing: -0.05rem;
  font-weight: 700;
}

p {
  font-size: 1rem;
  color: var(--black-600);
}

input[type="checkbox"] {
  accent-color: var(--accent-500); /* Only supported in modern browsers */
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }
}
